body{
    color: red;
    background: black;
    margin: 3px;
}

header{
    border-bottom: double 6px red;
    padding: 20px;
    font-size: 32px;
}

section {
    background: rgb(0,200,200);
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
    border-bottom: double 6px red; 
}

.texto {
    margin-right: 5%;
    font-size: 28px;
}

.video {
    border: double 6px red;
}