body{
    color: red;
    background: black;
    margin: 3px;
    font-family: "Chakra Petch"
}

header{
    border-bottom: double 6px red;
    padding: 20px;
    font-size: 32px;
}

section {
    background: rgb(197, 133, 235);
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
    border-bottom: double 6px red; 
}

.texto {
    margin: 5%;
    font-size: 28px;
}

.video {
    margin: 5%;
}