body {
    color: red;
    background: black;
    margin: 3px;
    font-family: "Chakra Petch", sans-serif;
}

header {
    border-bottom: double 6px red;
    padding: 20px;
    font-size: 32px;
}

h1 {
    font-size: 50px;
}

p {
    font-size: 30px;
}

section {
    background: rgb(197, 133, 235);
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
    border-bottom: double 6px red; 
}

.texto {
    margin: 5%;
    font-size: 28px;
}

.video {
    margin: 5%;
    border: double 6px red;
}